@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  @keyframes progress {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .animate-progress {
    animation: progress 5s linear;
  }